
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.panel-footer {
	border-top: none;
	border-bottom: 1px solid #D3E0E9;
}

.error {
	border: 1.5px solid red;
}

.error-box {
	padding: 15px;
	background-color: red;
	list-style: none;
	border-radius: 5px;

}

.error-item {
	color: white;
}